################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/E-Commerce-ShoebApi/bin/
/E-Commerce-ShoebApi/obj/
